faeBeta/Pods
faeBeta/Pods/*
faeBeta/Podfile.lock
faeBeta/faeBeta.xcodeproj/xcuserdata
faeBeta/faeBeta.xcodeproj/xcuserdata/*
faeBeta/faeBeta.xcworkspace/xcuserdata
faeBeta/faeBeta.xcworkspace/xcuserdata/*
faeBeta/faeBeta/PrintFunctions.swift
faeBeta/xcuserdata/
faeBeta/.DS_Store
faeBeta/*/build/*
faeBeta/*.pbxuser
faeBeta/!default.pbxuser
faeBeta/*.mode1v3
faeBeta/!default.mode1v3
faeBeta/*.mode2v3
faeBeta/!default.mode2v3
faeBeta/*.perspectivev3
faeBeta/!default.perspectivev3
faeBeta/xcuserdata
profile
Podfile.lock
*.moved-aside
DerivedData
.idea/
*.hmap
xcuserdata/*
*/.DS_Store
.DS_Store
../.DS_Store
